@font-face {
    font-family: 'Circularstd';
    src: url('https://assets.website-files.com/61ce9200b97498bf4d3494a3/61ce9200b974983646349500_CircularStd-BookItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Circularstd';
    src: url('https://assets.website-files.com/61ce9200b97498bf4d3494a3/61ce9200b97498fa27349518_CircularStd-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Circularstd';
    src: url('https://assets.website-files.com/61ce9200b97498bf4d3494a3/61ce9200b97498f2383494eb_CircularStd-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Circularstd';
    src: url('https://assets.website-files.com/61ce9200b97498bf4d3494a3/61ce9200b97498148c3494fe_CircularStd-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}