.hero {
    padding-left: 0rem;
    padding-right: 0rem;
    padding: 7rem;

    &__component {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text-center {
        text-align: center;
    }

    &__large {
        width: 100%;
        max-width: 50rem;
    }

    &__bs {
        margin-top: 0rem;
        margin-right: 0rem;
        margin-left: 0rem;
        margin: 1.5rem;
    }

    &__title {
        margin-top: 0rem;
        margin-bottom: 0rem;
        font-size: 3.65rem;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: -0.03em;
    }

    &__sa {
        width: 100%;
        max-width: 30rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__text {
        color: #d5d5d5;
        font-size: 1.125rem;
        line-height: 1.7;
    }

    &__button {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-top: 1rem;
    }

    &__button-link {
        padding: 1rem 2.75rem;
        border-radius: 100px;
        background-color: #fff;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        color: #101111;
        font-size: 1.125rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0em;
        display: inline-block;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background: #363a3d80;
            color: orange;
        }
    }
}

@media (max-width: 1080px) {
    .hero__title {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .hero__title {
        font-size: 2.15rem;
    }
    .hero {
        padding-right: 0rem;
        padding-left: 0rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}



.modal {
    display: none; /* Сховане за замовчуванням */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
    animation: fadeIn 0.5s ease; /* Додаємо анімацію */
}

/* Додаткова стилізація для вмісту модального вікна */
.modal-content {
    background-color: #000000d4;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.9); /* Початкова масштабність для ефекту */
    animation: scaleIn 0.3s ease forwards; /* Анімація масштабування */
    border: 1px solid white;
}

/* Анімація для фону */
@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* Анімація для вмісту */
@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-content h2 {
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #808080;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

form label {
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
    align-self: flex-start;
}

form input, form textarea {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(252, 252, 252, 0.4);
    transition: 0.3s all ease;
    color: rgb(244, 230, 224);
}

form input:focus, form textarea:focus {
    border-color: orange; /* Синя рамка під час фокусу */
    outline: none; /* Забираємо стандартне виділення браузера */
    background-color: rgba(255, 255, 255, 0.8); /* Змінюємо фон */
    box-shadow: 0 0 8px orange; /* Додаємо ефект підсвічування */
    color: black;
}

form button {
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s all ease;
}

form button:hover {
    background: #363a3d80;
     color: orange;
}
